

<div class = 'navigation'>
	<ul>
		<li class='nav'><a href='/#/questions'>Add Question</a></li>
		<!-- <li class='nav'><a href='/#/replies'>Replies</a></li> -->
	</ul>
</div>



<form id='Question' ng-Submit='addQuestion()'>
  Question:  <textarea form='Question' class='input' ng-model='question' ></textarea><br>
	<!-- Question:  <input type="text" class='input' ng-model = 'question'/> <br> -->
	<br>
	<button>Submit</button>
</form>

<!-- <div>{{ data }}</div> -->
		
<ul>
	<li ng-Repeat='question in data.questions track by $index' class='listQuestions' >
		<span ng-click='removeQuestion(question.question)'> X </span>
		<a href='/#/replies' ng-click='saveValue(question.question)'>  {{ $index }}. {{ question.question}} </a>
	</li>
</ul>

